In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# carregar dataset 
df = pd.read_csv('twitter_sentment.csv', encoding='latin-1')
print(f"Dataset carregado: {df.shape}")

import os
print(os.getcwd())

Dataset carregado: (1599999, 6)
c:\Users\rafae\PIPELINE\projeto_pipeline

#### **2.2 Exploração Básica**
- Primeiras visualizações

In [3]:
# primeiras visualizações
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   0                                                                                                                    1599999 non-null  int64
 1   1467810369                                                                                                           1599999 non-null  int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 3   NO_QUERY                                                                                                             1599999 non-null  object
 4   _TheSpecialOne_                                                                                                      1599999 non-null  object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

0                                                                                                                      0
1467810369                                                                                                             0
Mon Apr 06 22:19:45 PDT 2009                                                                                           0
NO_QUERY                                                                                                               0
_TheSpecialOne_                                                                                                        0
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    0
dtype: int64

In [4]:
df.duplicated().sum()

np.int64(0)

- Nenhuma coluna apresentou valores nulos
- Sem duplicatas
- Nenhum outlier identificado

#### **2.3 Identificação de Problemas**
- O arquivo não tem cabeçalho (precisa renomear as colunas) 
- Coluna de data lida como object (precisa ser convertida para datetime)
- Colua 5 contém dados não estruturados (fazer uma limpeza mais profunda)

#### **2.4 Primeiras Transformações**
- Colunas renomeadas
- Criação de uma nova coluna
- Filtro de dados relevantes

In [5]:
df.columns = ['Sentimento', 'ID', 'Data', 'Query', 'Usuario', 'Texto']
df_limpo = df[['Sentimento', 'Data', 'Texto']].copy() # apenas colunas relevantes
print("Colunas renomeadas:")
print(df_limpo.head())

Colunas renomeadas:
   Sentimento                          Data  \
0           0  Mon Apr 06 22:19:49 PDT 2009
1           0  Mon Apr 06 22:19:53 PDT 2009
2           0  Mon Apr 06 22:19:57 PDT 2009
3           0  Mon Apr 06 22:19:57 PDT 2009
4           0  Mon Apr 06 22:20:00 PDT 2009

                                               Texto
0  is upset that he can't update his Facebook by ...
1  @Kenichan I dived many times for the ball. Man...
2    my whole body feels itchy and like its on fire
3  @nationwideclass no, it's not behaving at all....
4                      @Kwesidei not the whole crew

In [6]:
#conversão da coluna
df_limpo['Data'] = pd.to_datetime(df_limpo['Data'], errors='coerce')
print("Coluna 'Data' convertida para datetime:")
print(df_limpo['Data'].dtype)

Coluna 'Data' convertida para datetime:
datetime64[ns]

C:\Users\rafae\AppData\Local\Temp\ipykernel_18992\3907547090.py:2: FutureWarning: Parsed string "Mon Apr 06 22:19:49 PDT 2009" included an un-recognized timezone "PDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df_limpo['Data'] = pd.to_datetime(df_limpo['Data'], errors='coerce')

In [7]:
import os
from datetime import datetime as dt

Criando estrutura das pastas:

In [8]:
os.makedirs('bronze', exist_ok= True)
os.makedirs('silver', exist_ok= True)
os.makedirs('gold', exist_ok= True)

In [9]:
print(os.getcwd())

c:\Users\rafae\PIPELINE\projeto_pipeline