In [1]:
import pandas as pd
import sqlite3
from datetime import datetime as dt
import os

In [4]:
caminho_db = 'c:/Users/rafae/PIPELINE/projeto_pipeline/pipeline/pipeline.db'

# Estabeleça a conexão
conn = sqlite3.connect(caminho_db)
print("Conexão com banco de dados estabelecida")

Conexão com banco de dados estabelecida

QUERY 1 : VISÃO GERAL DOS DADOS

In [5]:
query = """
SELECT COUNT(*) as total_registros 
FROM tabela_principal
"""

resultado = pd.read_sql_query(query, conn)
print("Total de registros:", resultado['total_registros'].values[0])

Total de registros: 1599999

QUERY 2 : TOP 10 (USUÁRIOS COM MAIS POST)

In [6]:
query = """
SELECT 
    usuario,
    COUNT(*) as total_posts
FROM 
    tabela_principal
GROUP BY 
    usuario
ORDER BY 
    total_posts DESC
LIMIT 10
"""

top_usuarios = pd.read_sql_query(query, conn)
print("\nTop 10 Usuários que mais postaram:")
print(top_usuarios)

Top 10 Usuários que mais postaram:
           usuario  total_posts
0         LOST_DOG          549
1          WEBWOKE          345
2         TWEETPET          310
3  SALLYTHESHIZZLE          281
4      VIOLETSCRUK          279
5      MCRADDICTAL          276
6         TSARNICK          248
7      WHAT_BUGS_U          246
8      KAREN230683          238
9        DARKPIANO          236

QUERY 3 : ANÁLISE TEMPORAL

In [11]:
query = """
SELECT 
  STRFTIME('%H', data_ingestao) as hora,
  COUNT(*) as total_postagens
FROM tabela_principal
GROUP BY hora
ORDER BY hora
"""

postagens_por_hora = pd.read_sql_query(query, conn)

print("\nPostagens por hora:")
print(postagens_por_hora)

conn.close()

Postagens por hora:
  hora  total_postagens
0   18          1599999