In [1]:
import pandas as pd
import numpy as np

Carregar dados da camada Bronze

In [ ]:
df = pd.read_csv('c:/Users/rafae/PIPELINE/bronze/twitter_sentment.csv')
print(f"Dados originais: {df.shape}")

Dados originais: (1599999, 8)

TRANSFORMAÇÃO 1: Remover Duplicatas

In [3]:
linhas_antes = len(df)
df = df.drop_duplicates()
linhas_depois = len(df)
print(f"Duplicatas removidas: {linhas_antes - linhas_depois}")

Duplicatas removidas: 0

 TRANSFORMAÇÃO 2: Tratar Valores Nulos

In [4]:
print("\nValores nulos por coluna:")
print(df.isnull().sum())

Valores nulos por coluna:
0                                                                                                                      0
1467810369                                                                                                             0
Mon Apr 06 22:19:45 PDT 2009                                                                                           0
NO_QUERY                                                                                                               0
_TheSpecialOne_                                                                                                        0
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    0
data_ingestao                                                                                                          0
fonte_arquivo                                                                                                          0
dtype: int64

In [5]:
# Exemplo: preencher valores numéricos com a mediana

colunas_numericas = df.select_dtypes(include=[np.number]).columns
for coluna in colunas_numericas:
    if df[coluna].isnull().any():
        mediana = df[coluna].median()
        df[coluna].fillna(mediana, inplace=True)
        print(f"Coluna {coluna}: preenchida com mediana = {mediana}")

In [6]:
# Exemplo: preencher valores categóricos com 'Desconhecido'

colunas_texto = df.select_dtypes(include=['object']).columns
for coluna in colunas_texto:
    if df[coluna].isnull().any():
        df[coluna].fillna('Desconhecido', inplace=True)
        print(f"Coluna {coluna}: preenchida com 'Desconhecido'")

TRANSFORMAÇÃO 3: Converter Tipos de Dados