In [ ]:
import pandas as pd
import os
from datetime import datetime as dt

Criando estrutura das pastas:

In [2]:
os.makedirs('bronze', exist_ok= True)
os.makedirs('silver', exist_ok= True)
os.makedirs('gold', exist_ok= True)

Carregando dados da fonte original:

In [13]:
df = pd.read_csv("twitter_sentment.csv", encoding='latin1')

print(f"Dados carregados: {df.shape[0]} linhas, {df.shape[1]} colunas")

import os
print(os.getcwd())  # Mostra o diretório atual

Dados carregados: 1599999 linhas, 8 colunas
c:\Users\rafae\PIPELINE\bronze

Adicionar informações de quando os dados foram carregados:

In [ ]:
df['data_ingestao'] = dt.now()
df['fonte_arquivo'] = 'twitter_sentment.csv'

Salvar na camada Bronze (sem modificar os dados originais):

In [11]:
df.to_csv('twitter_sentment.csv', index=False)
print("Dados salvos na camada Bronze")

Dados salvos na camada Bronze

In [12]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",data_ingestao,fonte_arquivo
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,2025-10-31 21:20:34.254359,twitter_sentment.csv
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,2025-10-31 21:20:34.254359,twitter_sentment.csv
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,2025-10-31 21:20:34.254359,twitter_sentment.csv
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",2025-10-31 21:20:34.254359,twitter_sentment.csv
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,2025-10-31 21:20:34.254359,twitter_sentment.csv